.hola {
    border: 1px solid $color-hola;
    display: flex;
    &__este{
        width: 10rem;
        height: 10rem;
        background-color: $color-este;
        h4 {
            color:cadetblue;
            font-size: 30rem;
        }
    }
    &__hoy {
        width: 10rem;
        height: 10rem;
        background-color: $color-hoy;
    }
}